#navibar {
  display: flex;
  justify-content: center;    
}

body{
background-color: #f1e8df;
}

.navbar-brand {
    font-size: xx-large;
    font-weight: 1000;
    color: #bb0000;
    margin-right: 80px;
}

.container-fluid{
    background-color: #f1e8df;
    margin-block: -10px; 
}

.navbar-nav {
    gap: 40px;
    font-size: large;
    font-weight: 700;
    
}

/* #carouselExampleCaptions {
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    
} */

.gradient-background {
    background: linear-gradient(300deg, #f1e8df, #e49d48, #ffffff);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.dropdown-item {
  background-color: #f1e8df;
  margin-block: -8px; 
  gap: 50px;
  padding: 10px 10px 10px 10px;
}

textbox {
  font-size: 15px;
  font-weight: 100px;
}

.about {
  display: flex;
  justify-content: center;
  justify-content: top; 
}